.null{
    background-color: aliceblue;
    margin: 0;
    width: 30px;
    height: 30px;
}
.hero{
    background-color: black;
    margin: 0;
    width: 30px;
    height: 30px;

}
.one{
    background-color: blueviolet;
    margin: 0;
    width: 30px;
    height: 30px;
}
.exit{
    background-color: red;
    margin: 0;
    width: 30px;
    height: 30px;
}
.rowContainer {
    display: flex;
    flex-direction: row;
}
